{% extends 'cars/index.html.twig' %} 

{% block content %}
 
 <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-secondary-subtle">
                    <div class="d-flex justify-content-center mt-3">
                        <i class="fas fa-user"></i>
                        <span class="d-none d-sm-inline mx-1">Welcome!</span>
                    </div>
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
                       {% include "components/_search_data.html.twig" with {form: form ?? null} only %}
                     
                <hr>
                    <a class="btn btn-primary" href="{{path('app_new_car')}}" class="btn btn-info  w-100">Register new car</a>
            </div>
        </div>
        <div class="col py-3">
               <table class="table">
            <div class="flash-info">
                {% for fail in app.flashes('failed') %}
                    {{ fail }}
                {% endfor %}
                {% for bravo in app.flashes('success') %}
                    {{ bravo }}
                {% endfor %}
            </div>
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Category</th>
                        <th scope="col">Details</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>

                    </tr>
                </thead>
                <tbody>
                    {# {% if not users is same as([]) %} #}

                    {% for car in cars %}
                    <tr>
                        <td>{{car.id}}</td>
                        <td>{{car.name}}</td>
                        <td>{{car.cost}}</td>
                        <td>{{car.category ? car.category : 'not defined'}}</td>

                        <td>
                            <a href="{{path('app_single_car', { id: car.id })}}" class="btn btn-info">
                                <i class="fas fa-eye"></i>

                            </a>
                            {# add button back from single page #}
                        </td>

                        <td>
                            <a href="{{path('app_edit_car', { id: car.id })}}" class="btn btn-success">
                                <i class="fas fa-pencil-alt"></i>
                            </a>

                        </td>
                        <td>
                            {{ include('/cars/_delete.html.twig') }}
                        </td>

                    </tr>
                    {% endfor %}
                      {{ knp_pagination_render(pagination)}}
            </tbody>


        </table>
        </div>
    </div>
</div>

{% endblock %}