{% extends "base.html.twig" %}

{% block body %}

<div class="container-fluid">
    <div class="container">
        <div class="d-flex justify-content-center mt-5">
        {# PROJECT : Recuperation de chaque project avec CRUD = chaque projet avec ses taches #}
            {% if project %}
            <ul>
                <li><strong>Project's name :</strong> {{project.name}}</li>
                <li><strong>Description :</strong> {{ project.description }}</li>
                {# <li><strong>Seats :</strong> {{ project.dat }}</li> #}
                {# <li><strong>Members :</strong> {{ project.members }}</li> #}
                <li> <strong>Members : </strong>
                    <ul>
                    {% for member in project.members %}
                    <li> {{ member.firstName }} </li>
                    {% endfor %}
                    </ul>
                </li>
                <li><strong>Owner:</strong> {{ project.owner.firstName }}</li>
            </ul>
            <div class="container">
            <h4>Tasks:</h4>
            <ul>

                {% if tasks %}
                    {% for task in tasks%}
                        <li> 
                        <a >{{task.title}}</a>
                        <a href="{{path('task_details', { id: project.id, taskId: task.id })}}">{{task.id}}</a>

                        </li>
                    {% endfor %}
                {% else %}
                    <span>No tasks !<span>
                {% endif %}
                </ul>
                <a href="{{path('create_task', { id: project.id })}}" class="btn btn-primary">Create task</a>
            </div>
            {% else %}
                <span>Project not found</span>
            {% endif %}
            </div>
        <a href="{{path('app_projects')}}" class="btn btn-secondary">Return</a>

    </div>
</div>
{% endblock %}