{% block header %}
     <nav class="navbar bg-white">
        <div class="m-auto mt-3 text-center">
            <a href="/" class="navbar-brand fw-bolder">Project Manager
                <span class="d-block fs-6 fw-light">The best project manager app !</span>
            </a>
            {# <div class="d-flex justify-content-end">
                <a class="btn btn-danger" href="{{path('security.logout')}}">Deconnexion</a>
                <a class="btn btn-success" href="{{path('security.login')}}">Connexion</a>
            </div> #}

			<ul class="d-flex justify-content-between list-unstyled">
            {% if app.user %}
						<li class="nav-item dropdown" style="margin-right: 5rem;">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.firstName }}</a>
							<div class="dropdown-menu">
								{# <a class="dropdown-item" href="{{ path('user.edit', {id : app.user.id}) }}">Modifier mes informations</a> #}
								{# <a class="dropdown-item" href="{{ path('user.edit.password', {id : app.user.id}) }}">Modifier mon mot de passe</a> #}
								<div class="dropdown-divider"></div>
								{% if 'ROLE_ADMIN' in app.user.roles %}
									<a class="dropdown-item" href="{{ path('admin') }}">Administration</a>
									<div class="dropdown-divider"></div>
								{% endif %}
								<a class="dropdown-item" href="{{ path('security.logout') }}">Déconnexion</a>
							</div>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('security.login') }}">Connexion
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('security.registration') }}">Inscription
							</a>
						</li>
					{% endif %}
				</ul>
        <div>

    </nav>

{% endblock %}
